@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.my-skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &__title {
    color: var(--text-color);
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    font-weight: 400;
    margin-bottom: $margin-base * 3;
    text-align: center;

    @include media($from: tablet) {
      font-size: $font-size-large;
      line-height: $line-height-large;
    }
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    color: var(--text-color);
    font-size: $font-size-small;
    line-height: $line-height-small;
    margin-bottom: $margin-base;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;

    @include media($from: tablet) {
      font-size: $font-size-medium;
      line-height: $line-height-medium;
      margin-bottom: $margin-base * 2;
    }

    &:hover {
      transform: scale(1.3);
      transition: .3s ease-in-out;
    }
  }

  &__list-item-image {
    max-width: 20px;
    margin-left: $margin-base * .5;
  }

}